body {
  font-family: "DM Serif Display", serif;
  box-sizing: border-box;
}

/* 
#navBar {
  color: white;
  width: 100% !important;
} */


.nameString {
  font-size: 2.5rem;
}

#about {
  display: block;
  /* text-align: center; */
  padding-left: 15%;
  padding-right: 15%;
}

#about h2 {
  text-align: center;
}

.aboutText {
  text-align: center;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  font-size: 100%;
  color: #000;

}

.about-profile-div {
  max-width: 95% !important;
}

.body-font {
  font-family: "Inter", sans-serif;
}

.birla {
  /* width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 15%;
  margin-top: 4rem !important; */
}

.heroImage {
  /* display: block; */
  text-align: right;
  margin: 20px;
}

@media screen and (width < 999px) {
  .heroImage {
    text-align: left;
    margin: 20px;
  }

}

.heroImage img {
  border-radius: 1rem;
  width: 180px;
  height: 180px;
}

.heroText {
  margin: 20px;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 1000;
}

.profile-tag {
  font-family: "DM Serif Display", serif;

}

.social {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.social-icon {
  margin: 10px;
}

.downAngle {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #fff;
}


h2 {
  font-family: 'Verdana';
  font-size: 2rem;
  font-weight: 700;

}


p {
  font-family: "Inter", sans-serif;
}


.profile {
  display: block;
  text-align: center;
}

.profileImage {
  width: 20%;
  margin-top: 10px;
}

.footerSection {
  display: block;
  text-align: center;
  background-color: grey;
  width: 100% !important;
}

.f-icon {
  text-decoration: none;
  color: white;
}


/* Contact */
#contact {
  padding: 0 15%;
}

.upArrow {
  margin-bottom: 30px;
  color: white;
}
